html{
    scroll-behavior: smooth;
    background-color: #124559;
    background-repeat: no-repeat;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/johnoliver2.jpg);
    background-size: 100vw;
    background-position: center  6vw;
}

body {
g
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-size:1.8vw;
  color: #D3E6D9;

}

header{

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.nav_links {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

p {
  font-style: italic;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.4vw;
}

a:visited{

  color: #98FB98;

}

h2 {
 font-size: 3em;
 margin-top: 40px;
 text-align: center;
 letter-spacing: -2px;
}

h3 {
 font-size: 2em;
 font-weight: 100;
 margin-top: 30px;
 text-align: center;
 letter-spacing: -1px;
 color:;
 animation: mymove 5s;
}

form {
  color: #1B1464;
  animation: mymove 2s;
}

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

@keyframes mymove {
0%   {opacity: 0}
100% {opacity: 1}
}
}

@media screen and (min-width: 800px){


}
